<!--  Hier ist der seitenheader -->
<div class="headerContent">
    <mat-card class="home-header" appearance="outlined">
         <div align="center"> 
             <h1>Mia Web</h1>
             <p>Willkommen auf der Homepage</p>
         </div>
    </mat-card>
</div>

<!-- NEU: Ein Container, der das zweispaltige Layout hält -->
<div class="main-layout">

    <div class="sideContent">
        <mat-card class="content" appearance="outlined" (click)="onCardClickAboutMe()">
            <div align="center"> 
                <h2>Wer bin ich?</h2>
                <p id="text">Hallo!</p>
                <p id="text">Ich bin Mia</p>
                <p>Ich bin seit...</p> <!-- Kleiner Tipp am Rande: "seit" bei Zeitangaben ;) -->
            </div>  
        </mat-card>
        <mat-card class="content" appearance="outlined" (click)="onCardClickArchiv()">
            <div align="center"> 
                <h2>Bilder</h2>
                <img src="assets/fotos/foto1.png" alt="testBild" width="200" class="image">
            </div>
        </mat-card>
    </div>

    <div class="banner">
        <mat-card class="content" appearance="outlined" (click)="onCardClickweiterleitung('dnd')">
            <h2 align="center"> DnD </h2> 
        </mat-card>
    </div>

</div>