<!--  Hier ist der seitenheader -->
<div class="headerContent">
    <mat-card class="home-header" appearance="outlined">
         <div align="center"> 
             <h1>Mia Web</h1>
             <p>Willkommen auf der Homepage</p>
         </div>
    </mat-card>
</div>

<mat-card>
    
</mat-card>

<!-- NEU: Ein Container, der das zweispaltige Layout hält -->
<div class="main-layout">

    <div class="sideContent">
        <mat-card class="content" appearance="outlined" (click)="onCardClickAboutMe()">
            <div align="center"> 
                <h2>Wer bin ich?</h2>
                <p id="text">Hallo!</p>
                <p id="text">Ich bin Mia</p>
                <p>Ich bin seit...</p> 
            </div>  
        </mat-card>
        <mat-card class="content" appearance="outlined" (click)="onCardClickArchiv()">
            <div align="center"> 
                <h2>Bilder</h2>
                <img src="assets/fotos/foto1.png" alt="testBild" width="200" class="image">
            </div>
        </mat-card>
    </div>

    <div class="banner">
        <mat-card class="content dnd-flex-card" appearance="outlined" (click)="onCardClickweiterleitung('dnd')">
            
            <!-- Element 1 (links): Das Logo -->
            <img src="assets/fotos/globalAssets/dnd-logo-transparent.png" alt="dnd-logo" width="100" class="imageLogo">
            
            <!-- Element 2 (rechts): Alle Texte zusammengefasst -->
            <div class="dndText">
                <h2>DnD</h2> 
                <p class="text-line">Hier findet man alles mögliche zum Thema DnD</p>
                <p class="text-line">Vorlagen - Zusammenfassungen - nützliche Downloads</p>
            </div>

        </mat-card>
    </div>

</div>